<%- include("../partials/header")%>
<div class="container bg-light mt-3 border border-dark rounded-0">
    <div class="pt-4 pl-4">
        <h1 class="py-1">
            Welcome to 
            <small class="text-muted">YelpCamp!</small>
        </h1>
        <p>Explore these Campgrounds, hand picked just for you!</p>
        <p class="pb-2">
        <a class="btn btn-outline-dark rounded-0" href="/campgrounds/new">Add your own campground</a>
        </p>
    </div>    
</div>


   <div class="container mt-2">
        <div class="row">
            <%camps.forEach(function(camp){%>
            <div class="col-6 col-md-3">
                <div class="card border border-dark rounded-0" style="height:100%">
                    <img class="card-img-top img-thumbnail" src="<%=camp.image%>" alt="Camp" style="height: 65%;">
                    <div class="card-body">
                        <h5 class="card-title"><%=camp.name%></h5>
                        <p>
                            <a class="btn btn-outline-dark btn-block rounded-0" href="campgrounds/<%=camp._id%>">View</a>
                        </p>
                    </div>
                </div>
            </div><%});%>
        </div>
    </div>
<%- include("../partials/footer")%>


