<%- include("../partials/header")%>
<p><%=camps.name%></p>
<img src="<%=camps.image%>" alt="">
<p><%=camps.description%></p>
<%camps.comments.forEach(function(comment){%>
    <p><%=comment.text%></p>
    <p><%=comment.author%></p>
<%});%>
<a href="/campgrounds/<%=camps._id%>/comments/new">Add a comment</a>
<%- include("../partials/footer")%>